.hero{
    height: 700px;
    display: inline-flex;
}

.join-box{
    color: black;
    margin-top: 200PX;
    margin-left: 100px;
    font-weight: 400;
    font-size: larger;
    width: 500px
}

.image{
    height: 350px;
    margin-left: 250px;
    margin-top: 150px;
}