.navbar{
    display:flex;
    align-items:center;
    justify-content:space-between;
    background-color:black;
    padding: 15px 15px;
}

.navbar{
    padding:20px 60px;
    background:#0a0a0a;
}

.logo{
    height:32px;
}

.nav-links{
    list-style:none;
    display:flex;
    flex-direction:row;
    gap:30px;
    margin:0;
    padding:0;
}

.nav-links li{
    font-family:"Tara";
    font-size:12px;
    letter-spacing:1px;
}

.nav-links li{
    color:#d4d4d8;
    font-size:14px;
    cursor:pointer;
    transition:0.2s;
}

.nav-links li:hover{
    color:white;
    transform: translateY(-1px);
}

#btn{
    border: none;
    color: white;
    border-radius: 1px;
    cursor: pointer;
    background: #c0392b;
    padding: 14px 22px;
    font-size: 12px;
    letter-spacing: 1px;
}