@font-face {
    font-family: 'Uni Sans';
    src: url('./assets/fonts/uni-sans/Uni Sans Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Uni Sans';
    src: url('./assets/fonts/uni-sans/Uni Sans Thin Italic.otf') format('opentype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Uni Sans';
    src: url('./assets/fonts/uni-sans/Uni Sans Heavy.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Uni Sans';
    src: url('./assets/fonts/uni-sans/Uni Sans Heavy Italic.otf') format('opentype');
    font-weight: 900;
    font-style: italic;
}

body {
    margin: 0;
    background-color: rgb(255, 252, 245);
    color: white;
    font-family: 'Uni Sans', sans-serif;
}